name: CD - Deploy App
on: 
  push:
    branches:
    - main
    
jobs:  
  build-and-deploy:
    name: build and deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Setup Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-token: ${{ secrets.TAILSCALE_OAUTH_TOKEN }}
          
      - name: Setup SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
  
      - name: Deploy Script
        run: |
          ssh -o StrictHostKeyChecking=no latte@uon-marketplace.taild171a.ts.net '/usr/bin/sh -s' < ./scripts/deploy.sh
